﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stundent Management - @ViewBag.Title</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="jumbotron text-center">
            Student Management System
        </h1>
        @RenderBody()
    </div>

    <script src="~/assets/js/bootstrap.min.js"></script>

    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/assets/js/ini.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.anexgrid.min.js"></script>
</body>
</html>
