﻿@model Model.Adjunto
@{ 
    List<Model.Adjunto> attaches = ViewBag.Attaches;
}
@using (Html.BeginForm("SaveAttached", "Home", FormMethod.Post, new { id = "frm-attached" }))
{
    @Html.HiddenFor(x => x.Alumno_id)
    <div class="panel panel-default">
        <div class="panel-heading">Documents Upload</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="">Select a file to be upload</label>
                <input type="file" name="Archivo"/>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-primary" data-ajax="true" data-confirm="¿Do you want to upload this file?">Upload File</button>
    </div>
    <br />
}

<hr />

<!-- ATTACHES UPLOAD-->
@using (Html.BeginForm("DeleteAttached", "Home", FormMethod.Post, new { id = "frm-action" }))
{
    <table class="table">
        <thead>
            <tr>
                <th>Name Attached</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in attaches)
            {
                <tr>
                    <td><a href="~/Uploads/@item.Archivo" target="_blank"></a> @item.Archivo</td>
                    <td><button type="submit" class="btn btn-xs btn-danger" data-ajax="true" data-delete="true" data-url="@(Url.Content("~/Home/DeleteAttached/" + item.id))" data-confirm="¿Do you want to delete this file?">Delete File</button></td>
                </tr>
            }
        </tbody>
    </table>
}
