﻿@model Model.AlumnoCurso
@{ 
    List<Model.AlumnoCurso> cursosSeleccionados = ViewBag.CoursesSelected;
    List<Model.Curso> curso = ViewBag.Courses;
}

@if (curso.Count > 0)
    {
        using (Html.BeginForm("SaveCourses", "Home", FormMethod.Post, new { id = "frm-courses" }))
        {
            @Html.HiddenFor(x => x.Alumno_id)
            <div class="panel panel-default">
                <div class="panel-heading">Personal Information</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="">Select a course</label>
                        <select name="Curso_id" class="form-control">
                            @foreach (var item in curso)
                            {
                                <option value="@item.id">@item.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Nota)
                        @Html.TextBoxFor(x => x.Nota, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Nota, null, new { @class = "label label-danger" })
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary" data-ajax="true" data-confirm="¿Do you want to take this course?">Save Changes</button>
            </div>
            <br />
        }

        <hr />
    }

<!-- COURSES SELECTED-->
@using (Html.BeginForm("DeleteCourse", "Home", FormMethod.Post, new { id = "frm-action" }))
{
    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cursosSeleccionados)
            {
                <tr>
                    <td>@item.Curso.Nombre</td>
                    <td><span class="badge">@item.Nota</span></td>
                    <td><button type="submit" class="btn btn-xs btn-danger" data-ajax="true" data-delete="true" data-url="@(Url.Content("~/Home/DeleteCourse/" + item.id))" data-confirm="¿Do you want to delete this course?">Delete Course</button></td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#frm-courses");
    });
</script>