﻿@model Model.Alumno
@{
    ViewBag.Title = (Model.id > 0 ? Model.Nombre + " " + Model.Apellido : "New Student");
}

<ol class="breadcrumb">
    <li><a href="~/">Students</a></li>
    <li class="active">@(Model.id > 0 ? Model.Nombre + " " + Model.Apellido : "New Student")</li>
</ol>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
    @if (Model.id > 0)
    {
        <li role="presentation"><a href="#courses" aria-controls="courses" role="tab" data-toggle="tab">Courses</a></li>
        <li role="presentation"><a href="#attached" aria-controls="attached" role="tab" data-toggle="tab">Attached</a></li>
    }
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="information">
        @using (Html.BeginForm("Save", "Home", FormMethod.Post, new { id = "frm-alumno" }))
        {
            @Html.HiddenFor(x => x.id)
            <div class="panel panel-default">
                <div class="panel-heading">Personal Information</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Nombre)
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Apellido)
                        @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Apellido, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Sexo)
                        <select name="Sexo" class="form-control">
                            <option value="1" @(Model.Sexo == 1 ? "selected" : "")>Hombre</option>
                            <option value="2" @(Model.Sexo == 2 ? "selected" : "")>Mujer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.FechaNacimiento)
                        @Html.TextBoxFor(x => x.FechaNacimiento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.FechaNacimiento, null, new { @class = "label label-danger" })
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary" data-ajax="true" data-confirm="¿Do you want to save your changes?">Save Changes</button>
            </div>
            <br />
        }
    </div>
    @if (Model.id > 0)
    {
        <div role="tabpanel" class="tab-pane" id="courses">

        </div>

        <div role="tabpanel" class="tab-pane" id="attached">

        </div>
    }

</div>

<script>
    $(document).ready(function () {
        @if (Model.id > 0)
        {
            <text>LoadCourses()</text>
            <text>LoadAttached()</text>
        }
    });
    function LoadCourses() {
        $("#courses").load('@Url.Content("~/Home/Courses/?idAlumno="+Model.id)');
    }
    function LoadAttached() {
        $("#attached").load('@Url.Content("~/Home/Attached/?idAlumno="+Model.id)');
    }
</script>


<!--<script>
    function DoSomething() {
        alert('Doing Something');
    }
</script>-->
<!--<script>
    $(document).ready(function () {
        $("#frm-alumno").submit(function () {
            var form = $(this);

            $.ajax({
                dataType: 'JSON',
                type: 'POST',
                url: form.attr("action"),
                data: form.serialize(),
                success: function (r) {
                    if (r.response) {
                        window.location.href = r.href;
                    } else {
                        alert(r.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + " " + errorThrown);
                }
            });

            return false;
        });
    });
</script>-->
