﻿@model List<Model.Alumno>
@{     
    ViewBag.Title = "Index";
}
<h2 class="page-header">
    Students
</h2>

<table class="table">
    <thead>
    <th>Name</th>
    <th style="width:200px;">Sex</th>
    <th style="width:200px;">Birthday Date</th>
    <th style="width:100px;" class="text-center"></th>
    <th style="width:100px;" class="text-center">Actions</th>
    <th style="width:100px;" class="text-center"></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Nombre + " " + item.Apellido)</td>
                <td>@(item.Sexo == 1 ? "Male" : "Female")</td>
                <td>@item.FechaNacimiento</td>
                <td class="text-center">
                    <a href="~/Home/Show/@item.id" class="btn btn-xs btn-default btn-block">Show</a>
                </td>
                <td class="text-center">
                    <a href="~/Home/Crud/@item.id" class="btn btn-xs btn-primary btn-block">Edit</a>                    
                </td>
                <td class="text-center">
                    <a href="~/Home/Delete/@item.id" class="btn btn-xs btn-danger btn-block" onclick="return confirm('¿Do you wantto  delete this student?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

