﻿@model Model.Alumno
@{
    ViewBag.Title = "Show Student";
}
 
<ol class="breadcrumb">
    <li><a href="~/">Student</a></li>
    <li class="active">@(Model.Nombre + " " + Model.Apellido)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Personal Information</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Model.Nombre</dd>
            <dt>Last Name</dt>
            <dd>@Model.Apellido</dd>
            <dt>Gender</dt>
            <dd>@(Model.Sexo == 1 ? "Male" : "Female")</dd>
            <dt>Date of birthday</dt>
            <dd>@Model.FechaNacimiento</dd>
        </dl>
    </div>
</div>

@if(Model.AlumnoCurso.Count > 0)
{
<div class="panel panel-default">
    <div class="panel-heading">Subjects taken</div>
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th style="width:60px;">Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AlumnoCurso)
            {
                <tr>
                    <td>@item.Curso.Nombre</td>
                    <td class="text-right">@item.Nota</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
else{ 
    <h3>There is not subjects about this student</h3>
}

